name: from_zero_ui
description: UI generalizations and utility classes for working with flutter.

publish_to: 'none'

version: 0.1.0

environment:
  sdk: "^3.5.0"


dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # * Language Extensions
  intl: ^0.20.2
  dartx: ^1.2.0
  collection: ^1.19.1
  email_validator: ^3.0.0
  cancelable_compute: ^2.1.1

  # * State Management
  go_router: 10.0.0 # it will be a lot of work to update this because our routing solution is tightly coupled to it
  flutter_riverpod: 2.0.0-dev.9 # can't update until cacheTime is re-added, lots of potential bugs to be fixed with this update, when updating, also try https://pub.dev/packages/riverpod_lint
  hive: ^2.2.3
  hive_flutter: ^1.1.0

  # * Widgets / UI
  auto_size_text: ^3.0.0
  page_view_indicators: ^2.0.0
#  implicitly_animated_reorderable_list: ^0.4.2 # discontinued and unused for now, use animated_list_plus if needed again
  flutter_font_icons : ^2.2.5
  animations: ^2.0.11
  extended_image: ^8.1.0  # it might be a lot of work to update this because our routing solution is tightly coupled to it
  google_fonts: ^6.2.1 # used in from_zero_logo
  sliver_tools: ^0.2.12
  humanizer: ^2.2.0
#  keframe: ^3.0.0 # unused for now, but very interesting package...
  preload_page_view: ^0.2.0
  multi_value_listenable_builder: ^0.0.2

  # * Plugins
  url_launcher: 6.3.1
  path_provider: ^2.1.0
  platform_detect: ^2.0.7
  device_info_plus: ^11.4.0
  permission_handler: ^12.0.0+1  # if build window throws error, check https://github.com/Baseflow/flutter-permission-handler/issues/819#issuecomment-1673271795
  open_file_plus: ^3.4.1
  file_picker: ^10.1.9
  desktop_drop: ^0.4.1 # to support all platforms, try https://pub.dev/packages/super_drag_and_drop
  universal_html: ^2.2.3 # used for file_saver_from_zero download on web
  enough_convert: ^1.6.0 # used for reading window events on windows # ! replace with native converters if ever available on windows and web
  bitsdojo_window: ^0.1.6 # ideally, we would do all window-related stuff with window_manager, and remove this dependency, but it's not worth the effort
  window_manager: ^0.4.3
  pasteboard: ^0.4.0
  r_upgrade: ^0.4.2 # used to programatically install de apk file in Android

  # * Specific Utility
  dio: ^5.8.0+1
  dio_smart_retry: ^7.0.1
  sanitize_filename: ^1.0.5
  archive: ^4.0.7 # used to unzip the update on Windows
  excel: # ^4.0.2
#    path: ../excel/
    git:
      url: https://github.com/Wishmater/excel
      ref: 6b1afaf4d33a5314ac33cecdfa9399f54dbf2481
  pdf: # 3.10.5
    git:
      url: https://github.com/Wishmater/dart_pdf
      ref: 206d0671ac2a99b577f815353bf7ccb3873dca7f
      path: pdf
  date:
#    path: ../date/
    git:
      url: https://github.com/ross96D/date
      ref: 6a1a8b7cdb09
  mlog:
    git:
      url: https://github.com/ross96D/mlog
      ref: cfaa25769cc81583e0b3c538bcb3450dac2d6044


dev_dependencies:
  flutter_lints: ^5.0.0


dependency_overrides:
  intl: ^0.20.2    # apparently packages before 1.0 break on every minor version, which makes it pretty much unusable
  archive: ^4.0.7  # old excel fork forces 3.3.7 which has security issues, we should if features implemented by us are already available in excel package and migrate
#  win32: ^5.0.6    # force older plugins (bitsdojo_window 0.1.5) to use a newer version, required by other plugins (file_picker>=5.3.2)


flutter:
  uses-material-design: true
  assets:
    - assets/i18n/
